.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.main-content {
    transition: margin-left 0.5s ease;
    padding: 20px;
}

.navbar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    transition: .5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-button {
    font-size: 35px;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.open-button:hover {
    background-color: #c5c5c5;
    color: #007BFF;
}

.close-button {
    font-size: 35px;
    background: #4d4d4d;
    color: #c5c5c5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.close-button:hover {
    background-color: black;
    color: #007BFF;
}

.navbar.open {
    left: 0;
}

.navbar-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.navbar-menu li {
    width: 100%;
    text-align: center;
    position: relative;
}

.navbar-menu li button {
    width: 100%;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: block;
    padding: 15px 0;
    padding-left: 30px;
    transition: background-color 0.3s;
    border: none;
    background-color: transparent;
    position: relative;
}

.navbar-menu li button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

.navbar-menu li button:hover {
    background-color: #575757;
}

.navbar-menu li button:hover::before {
    background-color: white;
}

.navbar-menu button.active {
    background-color: #00352e;
    color: white;
    font-weight: bold;
}

.navbar-menu .log-out {
    color: red;
}

.transfer-failed {
    color: #9b0024;
    font-weight: bold;
}

.transfer-success {
    color: #005b15;
    font-weight: bold;
}